.headerItem {
  font-size: 25px;
}
.text {
  font-size: 0px;
}
.headerItem h2 {
  font-size: 30px;
  font-weight: 900;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid black;
  padding: 1pc 0;
}

.headerItem {
  display: flex;
  justify-content: space-between;
  gap: 10pc;
  justify-content: center;
}
